{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{% url 'dashboard' %}">Smart Electricity</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'dashboard' %}">SE</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Monitoring</li>
            <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="menu-header">Riwayat</li>
            <li class="{% if request.resolver_match.url_name == 'sensor-logs' %}active{% endif %}">
                <a class="nav-link" href="{% url 'sensor-logs' %}">
                    <i class="fas fa-database"></i><span>Log Sensor</span>
                </a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'notification-logs' %}active{% endif %}">
                <a class="nav-link" href="{% url 'notification-logs' %}">
                    <i class="fas fa-bell"></i><span>Log Notifikasi</span>
                </a>
            </li>
            <li class="menu-header">Konfigurasi</li>
            <li class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                <a class="nav-link" href="{% url 'settings' %}">
                    <i class="fas fa-cog"></i><span>Pengaturan</span>
                </a>
            </li>
        </ul>
    </aside>
</div>